* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 50%),
                url(1212.jpg) center/cover no-repeat;
}

header {
  background: #1e3d59;
  color: #ebebeb;
  text-align: center;
  padding: 50px 20px;
  height: 40px;
}

header h1 {
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: -50px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
  color: #fff;
}

section h2 {
  font-size: 18px;
  color: #1e3d59;
  margin-bottom: 10px;
}

button#contactBtn {
  display: block;
  padding: 10px;
  background: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

button#contactBtn:hover {
  background: #0f0d0c;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1e3d59;
  color: #fff;
  height: 45px;
  margin-top: 85px;
  margin-bottom: -200px;
  
}
