* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  body, html {
    height: 100%;
    width: 100%;
  }
  
  .main {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 50%),
                url(1212.jpg) center/cover no-repeat;
  }
  
  .navbar {
    width: 100%;
    height: 75px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
  }
  
  .icon, .logo, .menu, .search {
    display: flex;
    align-items: center;
  }
  
  .icon {
    height: 70px;
  }
  
  .logo {
    color:  #1e3d59;
    font-size: 30px;
    font-family: Arial, sans-serif;
    padding-left: 25px;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
  }
  
  .menu ul li {
    margin-left: 55px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: rgb(239, 236, 241);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }
  
  .menu ul li a:hover {
    color: #1e3d59;
  }
  
  .search {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .srch {
    font-family: Arial;
    height: 20px;
    width: 100%;
    background: transparent;
    border: 1px solid gray;
    margin-right: 10px;
    color:  #1e3d59;
  }
  
  button {
    font-family: Arial, sans-serif;
    font-size: 15px;
    height: 25px;
    width: 60px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: grey;
    transition: 0.4s ease;
  }
  
  button:hover {
    background-color: rgb(10, 6, 6);
  }
  
  button:focus,
  .srch:focus {
    outline: none;
  }
  
  .content {
    width: 90%;
    height: auto;
    color: rgb(231, 226, 226);
    position: relative;
    margin: 20px;
  }
  
  .content .par {
    width: 100%;
    height: auto;
    padding:  20px 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 20px;
    
  }
  
  .content h1 {
    width: 100%;
    height: auto;
    font-family: 'Times New Roman';
    font-size: 35px;
    padding-left: 20px;
    margin-top: 9px;
    letter-spacing: 2px;
    

  }
  
  .content .cn {
    width: 160px;
    height: 40px;
    border: none;
    margin: 10px 0 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    background-color: transparent;
  }
  
  .content .cn a {
    text-decoration: none;
    color: rgb(51, 6, 6);
    display: block;
    
  }
  
  .cn:hover {
    background-color: rgb(24, 5, 5);
  }
  
  .content span {
    color:  #1e3d59;
    font-size: 40px;
  }
  