 *{ 
margin: 0; 
padding: 0; 
font-family: 'poppins', sans-serif; 
} 
section{ 
display: flex; 
justify-content: center; 
align-items: center; 
min-height: 100vh; 
width: 100%; 
background: #00ff00; 
background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 50%),
                url(1212.jpg) center/cover no-repeat;
} 
.form-box{ 
position: relative; 
width: 400px; 
height: 450px; 
background:gray;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
}
h2{
    font-size: 30px;
    color: #1e3d59;
    text-align: center;
}
.inputbox {
    position: relative;
    margin:30px;
    width: 310px;
    border-bottom: 2px solid  #1e3d59;
}
.inputbox label {
    position: absolute;
    top: 15%;
    left: 10px; 
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 20px;
    pointer-events: none;
    transition: 0.4s;
}
input:focus ~ label,
input:valid ~ label{
    top: -6px;
}
.inputbox input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 13px;
    color: rgb(0, 0, 0);
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #1e3d59;
    font-size :20px;
}
.forget{
    margin: 1px;
    font-size:20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color:#1e3d59;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: rgb(9, 8, 8);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 30px; 
    color: rgb(252, 254, 255);
}
.register{
    font-size: 15px;
    color: white;
    text-align: center;
    margin: 30px;
}
.register p a{
    text-decoration: none;
    color: #1e3d59;
    font-weight: 30px;   
}
.register p a:hover{
    text-decoration: underline;
}